<!DOCTYPE html>
<html>
<head>
    <title>Cadastro - JungleBros</title>
</head>

    {% load static %}

    <link rel = 'stylesheet' href = '{% static 'css/style.css' %}'>

<body>
<div>

    <h2>Crie sua conta!</h2>
    <form method = 'POST'>
        {% csrf_token %}

        <label>Usuário:</label>
        <input type = 'text' name = 'username'>

        <label>Senha:</label>
        <input type = 'password' name = 'password'>

        <button type = 'submit'>Criar</button>
    </form>
    {% if erro %}
        <p class = 'msg-erro' >{{ erro }}</p>
        
    {% endif %}

</div>
</body>
</html>